<html>
<head>
	<style type= "text/css">
	  h1{ color: yellow;}
	  body{ background-color: black;}
	  li{color: #ffcc00; font-size: 25px;}
	  a{color: #ffcc00; font-size: 25px;}
	  a:hover {color: #99ff66; font-size: 50px;}
  	</style>
</head>

<body>
<fieldset>
<li>
  <a method="load" href="/blog/<%= params.postId %>/load"><%=params.title %></a>
  <ul>
  Edit 
  <a method="edit" href="/blog/<%= params.postId %>/edit"> +</a>
  &nbsp&nbsp&nbsp&nbsp&nbsp
  Delete
  <a method="delete" href="/blog/<%= params.postId %>/delete">(X)</a> </ul>
</li>
</fieldset>
</body>
</html>
