<html> 


<body onload="readData()">
<div id="demo">
<% content.title = "Blog", params.id %>
</div>
<link rel ="stylesheet" href="/prism.css"/>
<script src="/prism.js"> </script>
<form id= "form" action="/blog/<%=params.postId%>/change" method="POST">

<input name="title" id="title" type="text" autocomplete="off" style="font-size: 12px; width: 1000px; height: 32px;"/> </br></br>
<input name="body" id="body" type="text"  autocomplete="off" style="font-size: 12px; width: 1000px; height: 104px;"/> </br></br>

<button type="submit" onclick="save" style= "font-size: 12px; height: 30px" >Save changes</button> </br></br>
</form> </br>
<a href="/blog/new">Add a new Blog</a></br>
<a href="/blog/">List of Blogs</a>

<script>

function readData(){
  //alert("im here");
 document.getElementById("title").value = "<%=params.title.replace('"', '\"')  %>";
 document.getElementById("body").value =  "<%=params.body.replace('"', '\"') %>";
 }

function save(event){

  event.preventDefault();
  var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4) {
      alert("I'm from if state", xhttp.responseText);
        document.getElementById("demo").innerHTML = xhttp.responseText;
    }  
  };  

  xhttp.open("POST", "/blog/<%=params.postId%>/change", true);
  xhttp.send(new FormData(document.getElementById('form')));
}

</script>
</body>
</html>