<html>
<head>
  	 <style type= "text/css">
	  h1{ color: #5c0099;}
	  body{ background-image: url("cali.jpg"); background-size: 1210px 655px; background-color: #e0e0eb; background-repeat: no-repeat; background-position: center;}
	  p{color: #6600cc; font-size: 25px;}
	  a{color: #46466d; font-size: 25px;}
	  a:hover {color: #5c0099; font-size: 50px;}
     </style>

</head>

<body>
<title>Home Page</title></br>
<h1>Welcome!</h1>
<p> Thank you for visiting! </br> This is just a home page. </p>
<fieldset> <a href="/blog/">List of Blogs</a>&nbsp&nbsp&nbsp&nbsp
<a href="/blog/new">Add Blog</a> </fieldset>
</body>
</html>