<html>
<head>
    <style type= "text/css">
    article{ color: #ffcc00; font-size: 25px;}
    body{ background-color: black;}
    li{color: #ffcc00; font-size: 25px;}
    a{color: #ffcc00; font-size: 25px;}
    a:hover {color: #99ff66; font-size: 50px;}
    #form label{font-size:  25px; color: white}
    </style>
<link rel ="stylesheet" href="prism.css"/>
<script src="prism.js"> </script>
</head>
<body>
  <% content.title = "Create a Blog" %>
  <fieldset><form action="/blog" id="form" method="POST">
  <p>
    <label for="title" font-size="26px"}>Title:</label></br>
    <input name="title" type="text" autocomplete="off" style="font-size: 16px; width: 1000px; height: 40px;"/></br> </br>

    <pre> <code class="language-javascript">

    <label for="body">Write here:</label></br>
    <input name="body" type="text" id="body" 
    value="<pre><code class='language-javascript'> //Write your code here...</code></pre>"
    onkeyup="myFunction()" autocomplete="off" style= "margin-top:0px; font-size: 23px; width: 1000px; height: 200px;"/> </br> </br>
    </code> </pre>

    <input type="submit" value= "Save" onclick="addPost" style="width: 100px; color:black; background-color: #ffffcc;font-size: 25px;"/>
  </p>


</form>
<a href="/blog/">List of Blogs</a></br>
<a href="/index"> Home Page</a>
<h4> </h4></fieldset>

<script>
//changeColor();
//Save.disable = true;

function addPost()
{
  //formdata
  //alert(event);
  event.preventDefault();
  console.log(body.value);
  var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4) {
      alert("I'm from if state", xhttp.responseText);
        document.getElementById("demo").innerHTML += xhttp.responseText;
    }  
  };  

  xhttp.open("POST", "/blog", true);
  xhttp.send();
}

function myFunction()
{
  var text = document.getElementById("body");
  var keywords = [ ];
//  alert(keywords);
  
  //text.value = text.value.toLowerCase();

   if(findWord(body.value) == "true")
   {
      text.style.backgroundColor = "white"; 
      keywords =  findTarget(body.value);
   }
   //alert(keywords);
   else
   document.getElementById("body").style.backgroundColor = "yellow";
}

function findWord(word)
{
  //alert(word);
 var sn = word;
 var word = sn.split(" ");
 var flag = "init";
 var targets= [ ];

 var words = ["string", "int ", "str", "new", "var", "bool", "function", "value", "if", "else", "for", "while", "switch", " document", "null", "return", "public", "private", "eval", "let", "in", "false", "true", "try", "delete", "break", "catch", "const", "length", " "];
    //alert(word[0]); if(words[0]==word[1]) alert(words[8]);

 for(var i=0; i<word.length; i++)
 { 
   for(var j=0; j<words.length; j++)
   {
     if(words[j]==word[i])
     {
       flag = "true";
       //targets.push[word][j];
     }
   }
  }
  return flag;
}

function findTarget(word)
{
  //alert(word);
 var sn = word;
 var word = sn.split(" ");
 var flag = "init";
 var targets= [ ];

 var words = ["string", "int", "str", "new", "var", "bool", "function", "value", "if", "else", "for", "while", "switch", " document", "null", "return", "public", "private", "eval", "let", "in", "false", "true", "try", "delete", "break", "catch", "const", "length", " "];
    //alert(word[0]); if(words[0]==word[1]) alert(words[8]);

 for(var i=0; i<word.length; i++)
 { 
   for(var j=0; j<words.length; j++)
   {
     if(words[j]==word[i])
     {
       flag = "true";
       targets.push(word[i]);
       //alert(targets);
     }
   }
  }
  return targets;
}

</script>
</body>


</html>