<form action="/blog" method="POST">
  <p>
    <label for="title">Title:</label></br>
    <input name="title" type="text" style="width: 100px; height: 40px;"/>
  </p> </br>
  <p>
    <label for="body">Write here:</label></br>
    <input name="blog" type="text" style="width: 1000px; height: 200px;"/>
  </p> </br>
  <p>
    <label for="comment">Add Comments here:</label></br>
    <input name="comment" type="text" style="width: 1000px; height: 60px;/></br>
  </p>
  </p></br>
  <p>
    <input type="submit" value= "Save" />
  </p>
</form>
